<div class="card my-5">
  <div class="card-body">

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <th>{{flash.length.toString()}} Flash Scooter in {{flash[1].CityName}}</th>
      </thead>
    </table>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">CityName</th>
        <th scope="col">distance</th>
        <th scope="col">powerPercent</th>
        <th scope="col">remainderRange</th>
        <th scope="col">IsBookable</th>
        <th scope="col">StreetInfo</th>
        <th scope="col">Price</th>
        <th scope="col">Locked</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flash of flash">
        <td>{{ flash.idScooter }}</td>
        <td>{{ flash.CityName }}</td>
        <td>{{ flash.Distance }}</td>
        <td>{{ flash.PowerPercent }}</td>
        <td>{{ flash.RemainderRange }}</td>
        <td>{{ flash.IsBookable }}</td>
        <td>{{ flash.StreetInfo }}</td>
        <td>{{ flash.txtRentalPrice }}</td>
        <td>{{ flash.Locked }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
