<div class="sk-folding-cube" *ngIf="!isLoading$">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
<div class="card my-5"  *ngIf="isLoading$">
  <div class="card-body">
    <button class="btn btn-outline-success my-2 mr-sm-2" (click)="getAmount(250)">Call 250</button>
    <button class="btn btn-outline-success my-2 mr-sm-2" (click)="getAmount(350)">Call 350</button>
    <button class="btn btn-outline-success my-2 mr-sm-2" (click)="getAll()">Call all</button>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <th>{{tier.length.toString()}} Flash Scooter in {{tier[1].zoneId}}</th>
      </thead>
    </table>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Licence Plate</th>
        <th scope="col">City</th>
        <th scope="col">Status</th>
        <th scope="col">Battery Level</th>
        <th scope="col">Max Speed</th>
        <th scope="col">Is Rentable</th>
      </tr>
      </thead>
      <tbody>
      <tr class="hoverOver" *ngFor="let tier of tier">
        <td class="table-row" (click)="getSpecificScooter(tier.licencePlate)">{{ tier.licencePlate }}</td>
        <td class="table-row" (click)="getSpecificScooter(tier.licencePlate)">{{ tier.zoneId }}</td>
        <td class="table-row" (click)="getSpecificScooter(tier.licencePlate)">{{ tier.state }}</td>
        <td class="table-row" (click)="getSpecificScooter(tier.licencePlate)">{{ tier.batteryLevel }} %</td>
        <td class="table-row" (click)="getSpecificScooter(tier.licencePlate)">{{ tier.maxSpeed }} km/h</td>
        <td class="table-row" (click)="getSpecificScooter(tier.licencePlate)">{{ tier.isRentable }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

