<div class="sk-folding-cube" *ngIf="!isLoading$">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
<google-map
  *ngIf="isLoading$"
  height="640px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="option"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>
</google-map>

<div class="text-center" *ngIf="isLoading$">
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="zoomIn()">Zoom in</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="zoomOut()">Zoom out</button>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="logCenter()">Log center</button>
</div>
