<body>
<div class="row my-2 ml-1">
  <div class="column">
    <p>Live tracker of active scooters
      <br /> in <code>.{{tierScooter[0].zoneId.toString()}}</code> {{tierScooter.length.toString()}}
    </p>
  </div>
  <div class="column">
    <p>Facts about the Project:</p>
    <p>Data collected: <code>103.888</code></p>
    <p>DB Size: <code> 12 MB</code></p>
    <p>Date: <code>11.02.2020</code></p>
    <p>Between: <code> 11am and 8pm</code></p>
    <p>Technology stack
    <ul>
      <li><code>NOSql Mongodb</code></li>
      <li><code>Backend Spring Boot Reactive</code></li>
      <li><code>Frontend Angular 9</code></li>
    </ul>
  </div>
  <div class="column">
    <p>Facts about the Scooter API:</p>
    <p>State: <code>Active can be everything, I guess it means bookable or not</code></p>
    <p>lastLocationUpdate: <code> is a date</code></p>
    <p>lastStateChange: <code> is a date </code></p>
    <p>batteryLevel: <code> type: is a number</code></p>
    <p>lat: <code> latitude; type float or double</code></p>
    <p>lng: <code> longitude; type float or double</code></p>
    <p>maxSpeed: <code> type number in JAVA int</code></p>
    <p>zoneId: <code> the zone where the scooter is like VIENNA</code></p>
    <p>licencePlate: <code> is a string</code></p>
    <p>vin: <code> zoneId and licencePlate like AC12345</code></p>
    <p>code: <code> ¯\_(⊙︿⊙)_/¯</code></p>
    <p>isRental: <code> seems always true</code></p>
  </div>
</div>
</body>
